In [4]:
import pandas as pd

In [5]:
f = pd.read_csv('../Raw_Datasets/items_Giacomo/items.csv',sep=',')
f['TIPO'].unique()

array(['FUENTE', 'INSTALACIÓN DEPORTIVA', 'PISCINA', 'ZONA VERDE',
       'SENDA', 'CENTRO DE SALUD', 'CICLOCARRIL', 'PASO DE BICI',
       'CARRIL BICI', 'VÍA MIXTA', 'SENDA CICLABLE', 'PISTA BICI',
       'ARCEN BICI', 'ACERA BICI', 'ENCAMINAMIENTO', 'CIRCUITO DE OCIO',
       'BANDA RECOMENDADA', 'GIRO PERMITIDO', 'SENTIDO PERMITIDO'],
      dtype=object)

In [11]:
X = pd.read_csv('../Raw_Datasets/items_Giacomo/deportes_final.csv',sep=',')
X['Actividad'].unique()

array(['BMX', 'Ciclismo', 'Ciclismo estacionario', 'Calistenia',
       'Entrenamiento en circuito', 'Levantamiento de peso',
       'Máquina escaladora', 'Aeróbicos', 'Yoga', 'Aeróbicos acuáticos',
       'Correr', 'Atletismo', 'Bádminton', 'Baloncesto', 'Bolos',
       'Billar', 'Boxeo', 'Dardos', 'Frisbee', 'Ultimate frisbee', 'Golf',
       'Minigolf', 'Gimnasia', 'Balonmano', 'Hockey', 'Petanca', 'Calva',
       'Artes marciales', 'Kickboxing', 'Kickball', 'Pádel', 'Raquetbol',
       'Escalada', 'Salto a la comba', 'Chito', 'Skateboard', 'Patinaje',
       'Fútbol', 'Fútbol sala', 'Sóftbol', 'Béisbol',
       'Tenis de mesa / ping pong', 'Tai chi', 'Tenis', 'Tenis en pareja',
       'Voleibol', 'Marcha rápida', 'Montañismo', 'Caminar', 'Natación',
       'Nado sincronizado', 'Waterpolo', 'Voleibol acuático',
       'Patinaje sobre hielo', 'Frontenis', 'Senderismo'], dtype=object)

# Tablas de test

In [7]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder

# Lista de deportes
deportes = np.array(['BMX', 'Ciclismo', 'Ciclismo estacionario', 'Calistenia', 'Entrenamiento en circuito',
                     'Levantamiento de peso', 'Máquina escaladora', 'Aeróbicos', 'Yoga', 'Aeróbicos acuáticos',
                     'Correr', 'Atletismo', 'Bádminton', 'Baloncesto', 'Bolos', 'Billar', 'Boxeo', 'Dardos',
                     'Frisbee', 'Ultimate frisbee', 'Golf', 'Minigolf', 'Gimnasia', 'Balonmano', 'Hockey',
                     'Petanca', 'Calva', 'Artes marciales', 'Kickboxing', 'Kickball', 'Padel', 'Raquetbol',
                     'Escalada', 'Salto a la comba', 'Chito', 'Skateboard', 'Patinaje', 'Fútbol', 'Fútbol sala',
                     'Sóftbol', 'Béisbol', 'Tenis de mesa', 'Tai chi', 'Tenis', 'Tenis en pareja',
                     'Voleibol', 'Marcha rápida', 'Montañismo', 'Caminar', 'Natación', 'Nado sincronizado',
                     'Waterpolo', 'Voleibol acuático', 'Patinaje sobre hielo', 'Frontenis', 'Senderismo'])

# Generar un DataFrame sintético con datos históricos de recomendaciones de deportes
np.random.seed(42)
num_datos = 1000

# Simular datos de Fecha y Hora
# horas = [random.randint(6, 23) for _ in range(num_datos)]

# Simular datos de Clima
clima = np.random.choice(['Soleado',  'Nublado','Lluvioso'], num_datos)

# Simular datos de Temperatura en el rango de 10 a 35 grados Celsius
temperatura = np.random.uniform(10, 40, num_datos)

# Simular datos de Humedad en el rango de 30 a 80 por ciento
humedad = np.random.randint(30, 81, num_datos)

# Simular datos de Edad en el rango de 18 a 65 años
edad = np.random.randint(18, 66, num_datos)

# Simular datos de peso en el rango de 50 a 100 kilogramos
peso = np.random.uniform(50, 100, num_datos)

# Simular objetivos calóricos
objetivos_caloricos = np.random.choice([0, 1, 2], num_datos)

# Simular datos de distancia en el rango de 0.5 a 20 kilómetros
distancia = np.random.uniform(0.5, 20, num_datos)

# Simular condición física
condicion_fisica = np.random.choice([0, 1, 2], num_datos)

# Simular deportes que ha hecho antes

deporte = [random.choice(deportes) for _ in range(1000)]
deporte_practicado = [random.sample(list(deportes), random.randint(3, len(deportes))) for _ in range(num_datos)]

genero = np.random.choice(['Mujer','Hombre'], num_datos)

# Crear el DataFrame
df_historico = pd.DataFrame({
    # 'Hora': horas,
    'Clima': clima,
    'Temperatura (°C)': temperatura.round().astype(int),
    'Humedad': humedad,
    'Edad': edad,
    'Genero': genero,
    'Peso (Kg)': peso.round(2),
    'ObjetivoCalorico': objetivos_caloricos,
    'Distancia (Km)': distancia.round(2),
    'CondicionFisica': condicion_fisica,
    'DeportePracticado': deporte_practicado,
    'Deporte':deporte
})

# Convertir columna de clima en variables dummy
clima_dummies = pd.get_dummies(df_historico['Clima'], prefix='Clima')
df_historico = pd.concat([df_historico, clima_dummies], axis=1)

genero_dummies = pd.get_dummies(df_historico['Genero'], prefix='Genero')
df_historico = pd.concat([df_historico, genero_dummies], axis=1)

# Convertir columna de condición física en variables dummy
condicion_fisica_dummies = pd.get_dummies(df_historico['CondicionFisica'], prefix='Condicion')
df_historico = pd.concat([df_historico, condicion_fisica_dummies], axis=1)

# Convertir columna de objetivo calórico en variables dummy
objetivos_caloricos_dummies = pd.get_dummies(df_historico['ObjetivoCalorico'], prefix='Objetivo')
df_historico = pd.concat([df_historico, objetivos_caloricos_dummies], axis=1)
# label_encoder = LabelEncoder()
# df_historico['Deporte'] = label_encoder.fit_transform(df_historico['Deporte'])


# Convertir columna de deportes practicados en variables dummy
deporte_practicado_dummies = df_historico['DeportePracticado'].apply(lambda x: '|'.join(x)).str.get_dummies()
df_historico = pd.concat([df_historico, deporte_practicado_dummies], axis=1)

# Eliminar columnas originales que ya no son necesarias
df_historico.drop(['Clima', 'CondicionFisica', 'ObjetivoCalorico','Genero','DeportePracticado'], axis=1, inplace=True)

df_historico.to_csv('../Raw_Datasets/datos_historicos_deportes.csv', index=False)
# Mostrar el DataFrame resultan
df_historico

,Temperatura (°C),Humedad,Edad,Peso (Kg),Distancia (Km),Deporte,Clima_Lluvioso,Clima_Nublado,Clima_Soleado,Genero_Hombre,...,Sóftbol,Tai chi,Tenis,Tenis de mesa,Tenis en pareja,Ultimate frisbee,Voleibol,Voleibol acuático,Waterpolo,Yoga
0,12,59,58,50.80,16.16,Calistenia,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,26,43,56,89.11,19.74,Petanca,0,0,1,1,...,1,0,0,0,1,0,0,0,0,0
2,22,35,30,56.22,12.16,Tenis,1,0,0,1,...,1,0,1,1,1,1,1,1,1,1
3,39,32,28,89.88,2.10,Atletismo,1,0,0,1,...,1,1,1,1,1,1,1,1,1,1
4,13,45,63,80.80,13.11,Tenis,0,0,1,0,...,0,1,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,46,53,78.31,2.93,Bolos,0,1,0,1,...,0,1,1,1,0,0,1,0,0,1
996,13,53,49,50.31,10.75,Voleibol acuático,0,1,0,0,...,1,1,0,1,1,1,1,0,1,0
997,35,50,49,53.09,2.64,Golf,1,0,0,0,...,1,1,1,0,1,1,1,1,0,1
998,21,80,21,76.77,4.46,Boxeo,1,0,0,1,...,1,1,1,0,1,1,1,1,1,0
999,36,68,35,78.30,19.97,Béisbol,0,0,1,0,...,0,1,1,1,0,0,1,0,0,1

# Tabla de el EDA

In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder

# Lista de deportes
deportes = np.array(['BMX', 'Ciclismo', 'Ciclismo estacionario', 'Calistenia', 'Entrenamiento en circuito',
                     'Levantamiento de peso', 'Máquina escaladora', 'Aeróbicos', 'Yoga', 'Aeróbicos acuáticos',
                     'Correr', 'Atletismo', 'Bádminton', 'Baloncesto', 'Bolos', 'Billar', 'Boxeo', 'Dardos',
                     'Frisbee', 'Ultimate frisbee', 'Golf', 'Minigolf', 'Gimnasia', 'Balonmano', 'Hockey',
                     'Petanca', 'Calva', 'Artes marciales', 'Kickboxing', 'Kickball', 'Padel', 'Raquetbol',
                     'Escalada', 'Salto a la comba', 'Chito', 'Skateboard', 'Patinaje', 'Fútbol', 'Fútbol sala',
                     'Sóftbol', 'Béisbol', 'Tenis de mesa', 'Tai chi', 'Tenis', 'Tenis en pareja',
                     'Voleibol', 'Marcha rápida', 'Montañismo', 'Caminar', 'Natación', 'Nado sincronizado',
                     'Waterpolo', 'Voleibol acuático', 'Patinaje sobre hielo', 'Frontenis', 'Senderismo'])

# Generar un DataFrame sintético con datos históricos de recomendaciones de deportes
np.random.seed(42)
num_datos = 1000

# Simular datos de Fecha y Hora
# horas = [random.randint(6, 23) for _ in range(num_datos)]

# Simular datos de Clima
clima = np.random.choice(['Soleado',  'Nublado','Lluvioso'], num_datos)

# Simular datos de Temperatura en el rango de 10 a 35 grados Celsius
temperatura = np.random.uniform(10, 40, num_datos)

# Simular datos de Humedad en el rango de 30 a 80 por ciento
humedad = np.random.randint(30, 81, num_datos)

# Simular datos de Edad en el rango de 18 a 65 años
edad = np.random.randint(18, 66, num_datos)

# Simular datos de peso en el rango de 50 a 100 kilogramos
peso = np.random.uniform(50, 100, num_datos)

# Simular objetivos calóricos
objetivos_caloricos = np.random.choice([0, 1, 2], num_datos)

# Simular datos de distancia en el rango de 0.5 a 20 kilómetros
distancia = np.random.uniform(0.5, 20, num_datos)

# Simular condición física
condicion_fisica = np.random.choice([0, 1, 2], num_datos)

# Simular deportes que ha hecho antes
deporte = [random.choice(deportes) for _ in range(1000)]
deporte_practicado = [random.sample(list(deportes), random.randint(3, len(deportes))) for _ in range(num_datos)]

genero = np.random.choice(['Mujer','Hombre'], num_datos)

# Crear el DataFrame
df_historico = pd.DataFrame({
    # 'Hora': horas,
    'Clima': clima,
    'Temperatura (°C)': temperatura.round().astype(int),
    'Humedad': humedad,
    'Edad': edad,
    'Genero': genero,
    'Peso (Kg)': peso.round(2),
    'ObjetivoCalorico': objetivos_caloricos,
    'Distancia (Km)': distancia.round(2),
    'CondicionFisica': condicion_fisica,
    'DeportePracticado': deporte_practicado,
    
})

# Convertir columna de clima en variables dummy
clima_dummies = pd.get_dummies(df_historico['Clima'], prefix='Clima')
df_historico = pd.concat([df_historico, clima_dummies], axis=1)

genero_dummies = pd.get_dummies(df_historico['Genero'], prefix='Genero')
df_historico = pd.concat([df_historico, genero_dummies], axis=1)

# Convertir columna de condición física en variables dummy
condicion_fisica_dummies = pd.get_dummies(df_historico['CondicionFisica'], prefix='Condicion')
df_historico = pd.concat([df_historico, condicion_fisica_dummies], axis=1)

# Convertir columna de objetivo calórico en variables dummy
objetivos_caloricos_dummies = pd.get_dummies(df_historico['ObjetivoCalorico'], prefix='Objetivo')
df_historico = pd.concat([df_historico, objetivos_caloricos_dummies], axis=1)



# Convertir columna de deportes practicados en variables dummy
deporte_practicado_dummies = df_historico['DeportePracticado'].apply(lambda x: '|'.join(x)).str.get_dummies()
df_historico = pd.concat([df_historico, deporte_practicado_dummies], axis=1)

# Eliminar columnas originales que ya no son necesarias
df_historico.drop(['Clima', 'CondicionFisica', 'ObjetivoCalorico','Genero','DeportePracticado'], axis=1, inplace=True)

df_historico.to_csv('../Raw_Datasets/df_historicos_deportes.csv', index=False)
# Mostrar el DataFrame resultan
df_historico

,Temperatura (°C),Humedad,Edad,Peso (Kg),Distancia (Km),Clima_Lluvioso,Clima_Nublado,Clima_Soleado,Genero_Hombre,Genero_Mujer,...,Sóftbol,Tai chi,Tenis,Tenis de mesa,Tenis en pareja,Ultimate frisbee,Voleibol,Voleibol acuático,Waterpolo,Yoga
0,12,59,58,50.80,16.16,1,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
1,26,43,56,89.11,19.74,0,0,1,1,0,...,0,1,1,1,1,1,1,1,1,1
2,22,35,30,56.22,12.16,1,0,0,1,0,...,1,1,1,1,1,1,1,1,1,1
3,39,32,28,89.88,2.10,1,0,0,1,0,...,1,1,1,0,1,1,0,1,1,0
4,13,45,63,80.80,13.11,0,0,1,0,1,...,0,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,46,53,78.31,2.93,0,1,0,1,0,...,1,0,0,1,1,1,1,1,1,1
996,13,53,49,50.31,10.75,0,1,0,0,1,...,1,0,0,1,1,1,1,1,1,1
997,35,50,49,53.09,2.64,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
998,21,80,21,76.77,4.46,1,0,0,1,0,...,1,1,1,1,1,0,1,0,1,1
999,36,68,35,78.30,19.97,0,0,1,0,1,...,1,0,1,0,1,0,1,0,0,1

In [3]:
df_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Temperatura (°C)           1000 non-null   int32
 1   Humedad                    1000 non-null   int32
 2   Edad                       1000 non-null   int32
 3   Peso (Kg)                  1000 non-null   float64
 4   Distancia (Km)             1000 non-null   float64
 5   Clima_Lluvioso             1000 non-null   uint8
 6   Clima_Nublado              1000 non-null   uint8
 7   Clima_Soleado              1000 non-null   uint8
 8   Genero_Hombre              1000 non-null   uint8
 9   Genero_Mujer               1000 non-null   uint8
 10  Condicion_0                1000 non-null   uint8
 11  Condicion_1                1000 non-null   uint8
 12  Condicion_2                1000 non-null   uint8
 13  Objetivo_0                 1000 non-null   uint8
 14  Objetivo_1                 1000 non-null   uint8
 15  Objetivo_2                 1000 non-null   uint8
 16  Aeróbicos                  1000 non-null   int64
 17  Aeróbicos acuáticos        1000 non-null   int64
 18  Artes marciales            1000 non-null   int64
 19  Atletismo                  1000 non-null   int64
 20  BMX                        1000 non-null   int64
 21  Baloncesto                 1000 non-null   int64
 22  Balonmano                  1000 non-null   int64
 23  Billar                     1000 non-null   int64
 24  Bolos                      1000 non-null   int64
 25  Boxeo                      1000 non-null   int64
 26  Bádminton                  1000 non-null   int64
 27  Béisbol                    1000 non-null   int64
 28  Calistenia                 1000 non-null   int64
 29  Calva                      1000 non-null   int64
 30  Caminar                    1000 non-null   int64
 31  Chito                      1000 non-null   int64
 32  Ciclismo                   1000 non-null   int64
 33  Ciclismo estacionario      1000 non-null   int64
 34  Correr                     1000 non-null   int64
 35  Dardos                     1000 non-null   int64
 36  Entrenamiento en circuito  1000 non-null   int64
 37  Escalada                   1000 non-null   int64
 38  Frisbee                    1000 non-null   int64
 39  Frontenis                  1000 non-null   int64
 40  Fútbol                     1000 non-null   int64
 41  Fútbol sala                1000 non-null   int64
 42  Gimnasia                   1000 non-null   int64
 43  Golf                       1000 non-null   int64
 44  Hockey                     1000 non-null   int64
 45  Kickball                   1000 non-null   int64
 46  Kickboxing                 1000 non-null   int64
 47  Levantamiento de peso      1000 non-null   int64
 48  Marcha rápida              1000 non-null   int64
 49  Minigolf                   1000 non-null   int64
 50  Montañismo                 1000 non-null   int64
 51  Máquina escaladora         1000 non-null   int64
 52  Nado sincronizado          1000 non-null   int64
 53  Natación                   1000 non-null   int64
 54  Padel                      1000 non-null   int64
 55  Patinaje                   1000 non-null   int64
 56  Patinaje sobre hielo       1000 non-null   int64
 57  Petanca                    1000 non-null   int64
 58  Raquetbol                  1000 non-null   int64
 59  Salto a la comba           1000 non-null   int64
 60  Senderismo                 1000 non-null   int64
 61  Skateboard                 1000 non-null   int64
 62  Sóftbol                    1000 non-null   int64
 63  Tai chi                    1000 non-null   int64
 64  Tenis                      1000 non-null   int64
 65  Tenis de mesa              1000 non-null   int64
 66  Tenis en pareja            1000 non-null   int64
 67  Ultimate frisbee           1000 non-null   int64
 68  Voleibol                   1000 non-null   int64
 69  Voleibol acuático          1000 non-null   int64
 70  Waterpolo                  1000 non-null   int64
 71  Yoga                       1000 non-null   int64
dtypes: float64(2), int32(3), int64(56), uint8(11)
memory usage: 475.7 KB

# ESTOY TRABAJANDO AQUI

In [17]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
from sklearn.preprocessing import LabelEncoder

# Lista de deportes
deportes = np.array(['BMX', 'Ciclismo', 'Ciclismo estacionario', 'Calistenia', 'Entrenamiento en circuito',
                     'Levantamiento de peso', 'Máquina escaladora', 'Aeróbicos', 'Yoga', 'Aeróbicos acuáticos',
                     'Correr', 'Atletismo', 'Bádminton', 'Baloncesto', 'Bolos', 'Billar', 'Boxeo', 'Dardos',
                     'Frisbee', 'Ultimate frisbee', 'Golf', 'Minigolf', 'Gimnasia', 'Balonmano', 'Hockey',
                     'Petanca', 'Calva', 'Artes marciales', 'Kickboxing', 'Kickball', 'Padel', 'Raquetbol',
                     'Escalada', 'Salto a la comba', 'Chito', 'Skateboard', 'Patinaje', 'Fútbol', 'Fútbol sala',
                     'Sóftbol', 'Béisbol', 'Tenis de mesa', 'Tai chi', 'Tenis', 'Tenis en pareja',
                     'Voleibol', 'Marcha rápida', 'Montañismo', 'Caminar', 'Natación', 'Nado sincronizado',
                     'Waterpolo', 'Voleibol acuático', 'Patinaje sobre hielo', 'Frontenis', 'Senderismo'])

# Generar un DataFrame sintético con datos históricos de recomendaciones de deportes
np.random.seed(42)
num_datos = 1000

# Simular datos de Fecha y Hora
# horas = [random.randint(6, 23) for _ in range(num_datos)]

# Simular datos de Clima
clima = np.random.choice(['Soleado', 'Nublado', 'Lluvioso'], num_datos)

# Simular datos de Temperatura en el rango de 10 a 35 grados Celsius
temperatura = np.random.uniform(10, 40, num_datos)

# Simular datos de Humedad en el rango de 30 a 80 por ciento
humedad = np.random.randint(30, 81, num_datos)

# Simular datos de Edad en el rango de 18 a 65 años
edad = np.random.randint(14, 66, num_datos)

# Simular datos de peso en el rango de 50 a 100 kilogramos
peso = np.random.uniform(50, 100, num_datos)

# Simular objetivos calóricos
objetivos_caloricos = np.random.choice([0, 1, 2], num_datos)

# Simular datos de distancia en el rango de 0.5 a 20 kilómetros
distancia = np.random.uniform(0.5, 20, num_datos)

# Simular condición física
condicion_fisica = np.random.choice([0, 1, 2], num_datos)

# Simular deportes que ha hecho antes
def get_deporte_practicado(genero):
    if genero == 'Mujer':
        return [random.choice(['Ciclismo'] * 3 + list(deportes)) for _ in range(random.randint(3, len(deportes)))]
    else:
        return [random.choice(['Calistenia'] * 3 + list(deportes)) for _ in range(random.randint(3, len(deportes)))]
    
genero = np.random.choice(['Mujer', 'Hombre'], num_datos)
deporte_practicado = [get_deporte_practicado(g) for g in genero]

# Crear el DataFrame
df_historico = pd.DataFrame({
    # 'Hora': horas,
    'Clima': clima,
    'Temperatura (°C)': temperatura.round().astype(int),
    'Humedad': humedad,
    'Edad': edad,
    'Genero': genero,
    'Peso (Kg)': peso.round(2),
    'ObjetivoCalorico': objetivos_caloricos,
    'Distancia (Km)': distancia.round(2),
    'CondicionFisica': condicion_fisica,
    'DeportePracticado': deporte_practicado,
})

# Convertir columna de clima en variables dummy
clima_dummies = pd.get_dummies(df_historico['Clima'], prefix='Clima')
df_historico = pd.concat([df_historico, clima_dummies], axis=1)

# Convertir columna de género en variable dummy
genero_dummies = pd.get_dummies(df_historico['Genero'], prefix='Genero')
df_historico = pd.concat([df_historico, genero_dummies], axis=1)

# Convertir columna de condición física en variables dummy
condicion_fisica_dummies = pd.get_dummies(df_historico['CondicionFisica'], prefix='Condicion')
df_historico = pd.concat([df_historico, condicion_fisica_dummies], axis=1)

# Convertir columna de objetivo calórico en variables dummy
objetivos_caloricos_dummies = pd.get_dummies(df_historico['ObjetivoCalorico'], prefix='Objetivo')
df_historico = pd.concat([df_historico, objetivos_caloricos_dummies], axis=1)

# Convertir columna de deportes practicados en variables dummy
deporte_practicado_dummies = df_historico['DeportePracticado'].apply(lambda x: '|'.join(x)).str.get_dummies()
df_historico = pd.concat([df_historico, deporte_practicado_dummies], axis=1)

# Eliminar columnas originales que ya no son necesarias
df_historico.drop(['Clima', 'CondicionFisica', 'ObjetivoCalorico', 'Genero', 'DeportePracticado'], axis=1, inplace=True)

df_historico.to_csv('../Raw_Datasets/EDA_historicos_deportes.csv', index=False)
# Mostrar el DataFrame resultante
df_historico

,Temperatura (°C),Humedad,Edad,Peso (Kg),Distancia (Km),Clima_Lluvioso,Clima_Nublado,Clima_Soleado,Genero_Hombre,Genero_Mujer,...,Sóftbol,Tai chi,Tenis,Tenis de mesa,Tenis en pareja,Ultimate frisbee,Voleibol,Voleibol acuático,Waterpolo,Yoga
0,12,59,54,90.84,3.05,1,0,0,1,0,...,1,0,1,0,0,1,0,0,0,1
1,26,43,52,59.08,13.60,0,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
2,22,35,26,68.55,14.72,1,0,0,1,0,...,0,1,0,0,1,0,1,0,1,0
3,39,32,24,95.10,11.71,1,0,0,0,1,...,1,0,1,1,1,0,0,1,0,1
4,13,45,59,90.33,4.53,0,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,46,63,67.29,16.61,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
996,13,53,43,83.55,14.18,0,1,0,0,1,...,1,0,0,0,1,1,0,0,0,1
997,35,50,50,90.27,9.46,1,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
998,21,80,38,97.34,1.57,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
999,36,68,61,70.01,8.82,0,0,1,0,1,...,0,0,1,1,0,0,1,0,1,0

In [14]:
# import pandas as pd
# import numpy as np
# import random

# # Resto del código para generar el DataFrame df_historico...

# # Ajustar la proporción de mujeres y hombres
# num_mujeres = int(0.6 * num_datos)  # El 60% serán mujeres
# num_hombres = num_datos - num_mujeres
# genero_mujer = ['Mujer'] * num_mujeres
# genero_hombre = ['Hombre'] * num_hombres
# genero = genero_mujer + genero_hombre
# random.shuffle(genero)

# # Crear dos grupos para mujeres y hombres
# # df_mujeres = df_historico[df_historico['Genero_Mujer'] == 1].copy()
# # df_hombres = df_historico[df_historico['Genero_Hombre'] == 1].copy()

# # Asignar características específicas para los grupos de mujeres
# condicion_mujeres = (df_mujeres['Edad'] >= 20) & (df_mujeres['Edad'] <= 40)
# df_mujeres['DeportePracticado_Correr'] = np.where(condicion_mujeres, 1, 0)
# df_mujeres['DeportePracticado_Escalada'] = np.where(condicion_mujeres, 1, 0)

# # Asignar características específicas para el grupo de hombres que practican pádel
# condicion_hombres = (df_hombres['Edad'] >= 30) & (df_hombres['Edad'] <= 40) & (df_hombres['Peso (Kg)'] >= 60) & (df_hombres['Peso (Kg)'] <= 70)
# df_hombres['DeportePracticado_Padel'] = np.where(condicion_hombres, 1, 0)

# # Eliminar las columnas dummy que ya no son necesarias
# # df_mujeres.drop(['Genero_Hombre'], axis=1, inplace=True)
# # df_hombres.drop(['Genero_Mujer'], axis=1, inplace=True)

# # Concatenar nuevamente los DataFrames para obtener el DataFrame desbalanceado
# df_desbalanceado = pd.concat([df_mujeres, df_hombres], ignore_index=True)

# # Completar valores nulos con ceros
# df_desbalanceado.fillna(0, inplace=True)

# df_desbalanceado.to_csv('../Raw_Datasets/EDA_historicos_deportes.csv', index=False)
# # Mostrar el DataFrame resultan

# # Mostrar el DataFrame desbalanceado
# df_desbalanceado

,Temperatura (°C),Humedad,Edad,Peso (Kg),Distancia (Km),Clima_Lluvioso,Clima_Nublado,Clima_Soleado,Genero_Mujer,Condicion_0,...,Tenis en pareja,Ultimate frisbee,Voleibol,Voleibol acuático,Waterpolo,Yoga,DeportePracticado_Correr,DeportePracticado_Escalada,Genero_Hombre,DeportePracticado_Padel
0,13,45,63,80.80,13.11,0,0,1,1.0,0,...,1,1,0,1,1,0,0.0,0.0,0.0,0.0
1,36,38,30,77.95,6.49,0,1,0,1.0,1,...,1,0,0,0,0,0,1.0,1.0,0.0,0.0
2,35,44,63,75.05,17.26,1,0,0,1.0,0,...,1,1,0,1,1,0,0.0,0.0,0.0,0.0
3,18,50,62,85.31,19.21,1,0,0,1.0,1,...,0,0,1,0,0,1,0.0,0.0,0.0,0.0
4,15,64,18,76.71,4.75,1,0,0,1.0,0,...,1,0,1,1,1,1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,78,29,50.48,11.86,0,0,1,0.0,1,...,1,1,1,0,1,1,0.0,0.0,1.0,0.0
996,23,71,65,92.90,13.83,0,1,0,0.0,0,...,0,0,0,0,0,0,0.0,0.0,1.0,0.0
997,40,66,20,62.39,8.32,0,1,0,0.0,1,...,0,0,0,0,0,0,0.0,0.0,1.0,0.0
998,38,46,53,78.31,2.93,0,1,0,0.0,1,...,0,1,0,1,0,0,0.0,0.0,1.0,0.0
999,21,80,21,76.77,4.46,1,0,0,0.0,0,...,0,0,0,1,1,0,0.0,0.0,1.0,0.0

In [4]:
import pandas as pd
import numpy as np
import random

# Resto del código para generar el DataFrame df_historico...

# Ajustar la proporción de mujeres y hombres
num_mujeres = int(0.6 * num_datos)  # El 60% serán mujeres
num_hombres = num_datos - num_mujeres
genero_mujer = ['Mujer'] * num_mujeres
genero_hombre = ['Hombre'] * num_hombres
genero = genero_mujer + genero_hombre
random.shuffle(genero)

# Crear dos grupos para mujeres y hombres
df_mujeres = df_historico[df_historico['Genero_Mujer'] == 1].copy()
df_hombres = df_historico[df_historico['Genero_Hombre'] == 1].copy()

# Asignar características específicas para los grupos de mujeres
condicion_mujeres = (df_mujeres['Edad'] >= 20) & (df_mujeres['Edad'] <= 40)
df_mujeres['DeportePracticado_Correr'] = np.where(condicion_mujeres, 1, 0)
df_mujeres['DeportePracticado_Escalada'] = np.where(condicion_mujeres, 1, 0)

# Asignar características específicas para el grupo de hombres que practican pádel
condicion_hombres = (df_hombres['Edad'] >= 30) & (df_hombres['Edad'] <= 40) & (df_hombres['Peso (Kg)'] >= 60) & (df_hombres['Peso (Kg)'] <= 70)
df_hombres['DeportePracticado_Padel'] = np.where(condicion_hombres, 1, 0)

# Eliminar las columnas dummy que ya no son necesarias
df_mujeres.drop(['Genero_Hombre'], axis=1, inplace=True)
df_hombres.drop(['Genero_Mujer'], axis=1, inplace=True)

# Concatenar nuevamente los DataFrames para obtener el DataFrame desbalanceado
df_desbalanceado = pd.concat([df_mujeres, df_hombres], ignore_index=True)

# Completar valores nulos con ceros
df_desbalanceado.fillna(0, inplace=True)

# Mostrar el DataFrame desbalanceado
print(df_desbalanceado)

     Temperatura (°C)  Humedad  Edad  Peso (Kg)  Distancia (Km)  \
0                  13       45    63      80.80           13.11
1                  36       38    30      77.95            6.49
2                  35       44    63      75.05           17.26
3                  18       50    62      85.31           19.21
4                  15       64    18      76.71            4.75
..                ...      ...   ...        ...             ...
995                22       78    29      50.48           11.86
996                23       71    65      92.90           13.83
997                40       66    20      62.39            8.32
998                38       46    53      78.31            2.93
999                21       80    21      76.77            4.46

     Clima_Lluvioso  Clima_Nublado  Clima_Soleado  Genero_Mujer  Condicion_0  \
0                 0              0              1           1.0            0
1                 0              1              0           1.0            1
2                 1              0              0           1.0            0
3                 1              0              0           1.0            1
4                 1              0              0           1.0            0
..              ...            ...            ...           ...          ...
995               0              0              1           0.0            1
996               0              1              0           0.0            0
997               0              1              0           0.0            1
998               0              1              0           0.0            1
999               1              0              0           0.0            0

     ...  Tenis en pareja  Ultimate frisbee  Voleibol  Voleibol acuático  \
0    ...                1                 1         0                  1
1    ...                1                 0         0                  0
2    ...                1                 1         0                  1
3    ...                0                 0         1                  0
4    ...                1                 0         1                  1
..   ...              ...               ...       ...                ...
995  ...                1                 1         1                  0
996  ...                0                 0         0                  0
997  ...                0                 0         0                  0
998  ...                0                 1         0                  1
999  ...                0                 0         0                  1

     Waterpolo  Yoga  DeportePracticado_Correr  DeportePracticado_Escalada  \
0            1     0                       0.0                         0.0
1            0     0                       1.0                         1.0
2            1     0                       0.0                         0.0
3            0     1                       0.0                         0.0
4            1     1                       0.0                         0.0
..         ...   ...                       ...                         ...
995          1     1                       0.0                         0.0
996          0     0                       0.0                         0.0
997          0     0                       0.0                         0.0
998          0     0                       0.0                         0.0
999          1     0                       0.0                         0.0

     Genero_Hombre  DeportePracticado_Padel
0              0.0                      0.0
1              0.0                      0.0
2              0.0                      0.0
3              0.0                      0.0
4              0.0                      0.0
..             ...                      ...
995            1.0                      0.0
996            1.0                      0.0
997            1.0                      0.0
998            1.0                      0.0
999            1.0                      0.0

[1000 rows x 75 columns]

In [5]:
df_desbalanceado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 75 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Temperatura (°C)            1000 non-null   int32
 1   Humedad                     1000 non-null   int32
 2   Edad                        1000 non-null   int32
 3   Peso (Kg)                   1000 non-null   float64
 4   Distancia (Km)              1000 non-null   float64
 5   Clima_Lluvioso              1000 non-null   uint8
 6   Clima_Nublado               1000 non-null   uint8
 7   Clima_Soleado               1000 non-null   uint8
 8   Genero_Mujer                1000 non-null   float64
 9   Condicion_0                 1000 non-null   uint8
 10  Condicion_1                 1000 non-null   uint8
 11  Condicion_2                 1000 non-null   uint8
 12  Objetivo_0                  1000 non-null   uint8
 13  Objetivo_1                  1000 non-null   uint8
 14  Objetivo_2                  1000 non-null   uint8
 15  Aeróbicos                   1000 non-null   int64
 16  Aeróbicos acuáticos         1000 non-null   int64
 17  Artes marciales             1000 non-null   int64
 18  Atletismo                   1000 non-null   int64
 19  BMX                         1000 non-null   int64
 20  Baloncesto                  1000 non-null   int64
 21  Balonmano                   1000 non-null   int64
 22  Billar                      1000 non-null   int64
 23  Bolos                       1000 non-null   int64
 24  Boxeo                       1000 non-null   int64
 25  Bádminton                   1000 non-null   int64
 26  Béisbol                     1000 non-null   int64
 27  Calistenia                  1000 non-null   int64
 28  Calva                       1000 non-null   int64
 29  Caminar                     1000 non-null   int64
 30  Chito                       1000 non-null   int64
 31  Ciclismo                    1000 non-null   int64
 32  Ciclismo estacionario       1000 non-null   int64
 33  Correr                      1000 non-null   int64
 34  Dardos                      1000 non-null   int64
 35  Entrenamiento en circuito   1000 non-null   int64
 36  Escalada                    1000 non-null   int64
 37  Frisbee                     1000 non-null   int64
 38  Frontenis                   1000 non-null   int64
 39  Fútbol                      1000 non-null   int64
 40  Fútbol sala                 1000 non-null   int64
 41  Gimnasia                    1000 non-null   int64
 42  Golf                        1000 non-null   int64
 43  Hockey                      1000 non-null   int64
 44  Kickball                    1000 non-null   int64
 45  Kickboxing                  1000 non-null   int64
 46  Levantamiento de peso       1000 non-null   int64
 47  Marcha rápida               1000 non-null   int64
 48  Minigolf                    1000 non-null   int64
 49  Montañismo                  1000 non-null   int64
 50  Máquina escaladora          1000 non-null   int64
 51  Nado sincronizado           1000 non-null   int64
 52  Natación                    1000 non-null   int64
 53  Padel                       1000 non-null   int64
 54  Patinaje                    1000 non-null   int64
 55  Patinaje sobre hielo        1000 non-null   int64
 56  Petanca                     1000 non-null   int64
 57  Raquetbol                   1000 non-null   int64
 58  Salto a la comba            1000 non-null   int64
 59  Senderismo                  1000 non-null   int64
 60  Skateboard                  1000 non-null   int64
 61  Sóftbol                     1000 non-null   int64
 62  Tai chi                     1000 non-null   int64
 63  Tenis                       1000 non-null   int64
 64  Tenis de mesa               1000 non-null   int64
 65  Tenis en pareja             1000 non-null   int64
 66  Ultimate frisbee            1000 non-null   int64
 67  Voleibol                    1000 non-null   int64
 68  Voleibol acuático           1000 non-null   int64
 69  Waterpolo                   1000 non-null   int64
 70  Yoga                        1000 non-null   int64
 71  DeportePracticado_Correr    1000 non-null   float64
 72  DeportePracticado_Escalada  1000 non-null   float64
 73  Genero_Hombre               1000 non-null   float64
 74  DeportePracticado_Padel     1000 non-null   float64
dtypes: float64(7), int32(3), int64(56), uint8(9)
memory usage: 512.8 KB

In [1]:
import pandas as pd
import numpy as np
import random

# Lista de deportes
deportes = np.array(['BMX', 'Ciclismo', 'Ciclismo estacionario', 'Calistenia', 'Entrenamiento en circuito',
                     'Levantamiento de peso', 'Máquina escaladora', 'Aeróbicos', 'Yoga', 'Aeróbicos acuáticos',
                     'Correr', 'Atletismo', 'Bádminton', 'Baloncesto', 'Bolos', 'Billar', 'Boxeo', 'Dardos',
                     'Frisbee', 'Ultimate frisbee', 'Golf', 'Minigolf', 'Gimnasia', 'Balonmano', 'Hockey',
                     'Petanca', 'Calva', 'Artes marciales', 'Kickboxing', 'Kickball', 'Padel', 'Raquetbol',
                     'Escalada', 'Salto a la comba', 'Chito', 'Skateboard', 'Patinaje', 'Fútbol', 'Fútbol sala',
                     'Sóftbol', 'Béisbol', 'Tenis de mesa', 'Tai chi', 'Tenis', 'Tenis en pareja',
                     'Voleibol', 'Marcha rápida', 'Montañismo', 'Caminar', 'Natación', 'Nado sincronizado',
                     'Waterpolo', 'Voleibol acuático', 'Patinaje sobre hielo', 'Frontenis', 'Senderismo'])

# Generar un DataFrame sintético con datos históricos de recomendaciones de deportes
np.random.seed(42)
num_datos = 1000

# Simular datos de Clima
clima = np.random.choice(['Soleado',  'Nublado','Lluvioso'], num_datos)

# Simular datos de Temperatura en el rango de 10 a 35 grados Celsius
temperatura = np.random.uniform(10, 40, num_datos)

# Simular datos de Humedad en el rango de 30 a 80 por ciento
humedad = np.random.randint(30, 81, num_datos)

# Simular datos de Edad en el rango de 18 a 65 años
edad = np.random.randint(18, 66, num_datos)

# Simular datos de peso en el rango de 50 a 100 kilogramos
peso = np.random.uniform(50, 100, num_datos)

# Simular objetivos calóricos
objetivos_caloricos = np.random.choice([0, 1, 2], num_datos)

# Simular datos de distancia en el rango de 0.5 a 20 kilómetros
distancia = np.random.uniform(0.5, 20, num_datos)

# Simular condición física
condicion_fisica = np.random.choice([0, 1, 2], num_datos)

# Simular deportes que ha hecho antes
deporte = [random.choice(deportes) for _ in range(1000)]
deporte_practicado = [random.sample(list(deportes), random.randint(3, len(deportes))) for _ in range(num_datos)]

genero = np.random.choice(['Mujer','Hombre'], num_datos)

# Crear el DataFrame
df_historico = pd.DataFrame({
    # 'Hora': horas,
    'Clima': clima,
    'Temperatura (°C)': temperatura.round().astype(int),
    'Humedad': humedad,
    'Edad': edad,
    'Genero': genero,
    'Peso (Kg)': peso.round(2),
    'ObjetivoCalorico': objetivos_caloricos,
    'Distancia (Km)': distancia.round(2),
    'CondicionFisica': condicion_fisica,
    'DeportePracticado': deporte_practicado,
    
})

# Convertir columna de clima en variables dummy
clima_dummies = pd.get_dummies(df_historico['Clima'], prefix='Clima')
df_historico = pd.concat([df_historico, clima_dummies], axis=1)

genero_dummies = pd.get_dummies(df_historico['Genero'], prefix='Genero')
df_historico = pd.concat([df_historico, genero_dummies], axis=1)

# Convertir columna de condición física en variables dummy
condicion_fisica_dummies = pd.get_dummies(df_historico['CondicionFisica'], prefix='Condicion')
df_historico = pd.concat([df_historico, condicion_fisica_dummies], axis=1)

# Convertir columna de objetivo calórico en variables dummy
objetivos_caloricos_dummies = pd.get_dummies(df_historico['ObjetivoCalorico'], prefix='Objetivo')
df_historico = pd.concat([df_historico, objetivos_caloricos_dummies], axis=1)



# Convertir columna de deportes practicados en variables dummy
deporte_practicado_dummies = df_historico['DeportePracticado'].apply(lambda x: '|'.join(x)).str.get_dummies()
df_historico = pd.concat([df_historico, deporte_practicado_dummies], axis=1)

# Eliminar columnas originales que ya no son necesarias
df_historico.drop(['Clima', 'CondicionFisica', 'ObjetivoCalorico','Genero','DeportePracticado'], axis=1, inplace=True)




# Ajustar la proporción de mujeres y hombres
num_mujeres = int(0.6 * num_datos)  # El 60% serán mujeres
num_hombres = num_datos - num_mujeres
genero_mujer = ['Mujer'] * num_mujeres
genero_hombre = ['Hombre'] * num_hombres
genero = genero_mujer + genero_hombre
random.shuffle(genero)

# Crear dos grupos para mujeres y hombres
df_mujeres = df_historico[df_historico['Genero_Mujer'] == 1].copy()
df_hombres = df_historico[df_historico['Genero_Hombre'] == 1].copy()

# Asignar características específicas para los grupos de mujeres
df_mujeres.loc[(df_mujeres['Edad'] >= 20) & (df_mujeres['Edad'] <= 40), 'DeportePracticado_Correr'] = 1
df_mujeres.loc[(df_mujeres['Edad'] >= 20) & (df_mujeres['Edad'] <= 40), 'DeportePracticado_Escalada'] = 1

# Asignar características específicas para el grupo de hombres que practican pádel
df_hombres.loc[
    (df_hombres['Edad'] >= 30) & (df_hombres['Edad'] <= 40) &
    (df_hombres['Peso (Kg)'] >= 60) & (df_hombres['Peso (Kg)'] <= 70),
    'DeportePracticado_Padel'
] = 1

# Eliminar las columnas dummy que ya no son necesarias
df_mujeres.drop(['Genero_Hombre'], axis=1, inplace=True)
df_hombres.drop(['Genero_Mujer'], axis=1, inplace=True)

# Concatenar nuevamente los DataFrames para obtener el DataFrame desbalanceado
df_desbalanceado = pd.concat([df_mujeres, df_hombres], ignore_index=True)

# Mostrar el DataFrame desbalanceado
df_desbalanceado

,Temperatura (°C),Humedad,Edad,Peso (Kg),Distancia (Km),Clima_Lluvioso,Clima_Nublado,Clima_Soleado,Genero_Mujer,Condicion_0,...,Tenis en pareja,Ultimate frisbee,Voleibol,Voleibol acuático,Waterpolo,Yoga,DeportePracticado_Correr,DeportePracticado_Escalada,Genero_Hombre,DeportePracticado_Padel
0,13,45,63,80.80,13.11,0,0,1,1.0,0,...,1,0,1,1,1,1,NaN,NaN,NaN,NaN
1,36,38,30,77.95,6.49,0,1,0,1.0,1,...,1,1,1,1,0,1,1.0,1.0,NaN,NaN
2,35,44,63,75.05,17.26,1,0,0,1.0,0,...,0,0,1,1,0,1,NaN,NaN,NaN,NaN
3,18,50,62,85.31,19.21,1,0,0,1.0,1,...,1,1,1,1,1,0,NaN,NaN,NaN,NaN
4,15,64,18,76.71,4.75,1,0,0,1.0,0,...,1,0,1,0,1,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,22,78,29,50.48,11.86,0,0,1,NaN,1,...,1,0,1,0,1,1,NaN,NaN,1.0,NaN
996,23,71,65,92.90,13.83,0,1,0,NaN,0,...,0,1,0,0,0,0,NaN,NaN,1.0,NaN
997,40,66,20,62.39,8.32,0,1,0,NaN,1,...,0,1,1,1,0,1,NaN,NaN,1.0,NaN
998,38,46,53,78.31,2.93,0,1,0,NaN,1,...,1,1,1,1,1,1,NaN,NaN,1.0,NaN
999,21,80,21,76.77,4.46,1,0,0,NaN,0,...,0,0,0,1,0,0,NaN,NaN,1.0,NaN

In [16]:
df_historico = pd.read_csv('../Raw_Datasets/datos_historicos_deportes.csv',sep=',') 
df_historico.columns

Index(['Temperatura (°C)', 'Humedad', 'Edad', 'Peso (Kg)', 'Distancia (Km)',
       'Deporte', 'Clima_Lluvioso', 'Clima_Nublado', 'Clima_Soleado',
       'Genero_Hombre', 'Genero_Mujer', 'Condicion_0', 'Condicion_1',
       'Condicion_2', 'Objetivo_0', 'Objetivo_1', 'Objetivo_2', 'Aeróbicos',
       'Aeróbicos acuáticos', 'Artes marciales', 'Atletismo', 'BMX',
       'Baloncesto', 'Balonmano', 'Billar', 'Bolos', 'Boxeo', 'Bádminton',
       'Béisbol', 'Calistenia', 'Calva', 'Caminar', 'Chito', 'Ciclismo',
       'Ciclismo estacionario', 'Correr', 'Dardos',
       'Entrenamiento en circuito', 'Escalada', 'Frisbee', 'Frontenis',
       'Fútbol', 'Fútbol sala', 'Gimnasia', 'Golf', 'Hockey', 'Kickball',
       'Kickboxing', 'Levantamiento de peso', 'Marcha rápida', 'Minigolf',
       'Montañismo', 'Máquina escaladora', 'Nado sincronizado', 'Natación',
       'Padel', 'Patinaje', 'Patinaje sobre hielo', 'Petanca', 'Raquetbol',
       'Salto a la comba', 'Senderismo', 'Skateboard', 'Sóftbol', 'Tai chi',
       'Tenis', 'Tenis de mesa', 'Tenis en pareja', 'Ultimate frisbee',
       'Voleibol', 'Voleibol acuático', 'Waterpolo', 'Yoga'],
      dtype='object')

In [10]:
df_historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 73 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Temperatura (°C)           1000 non-null   int32
 1   Humedad                    1000 non-null   int32
 2   Edad                       1000 non-null   int32
 3   Peso (Kg)                  1000 non-null   float64
 4   Distancia (Km)             1000 non-null   float64
 5   Deporte                    1000 non-null   int32
 6   Clima_Lluvioso             1000 non-null   uint8
 7   Clima_Nublado              1000 non-null   uint8
 8   Clima_Soleado              1000 non-null   uint8
 9   Genero_Hombre              1000 non-null   uint8
 10  Genero_Mujer               1000 non-null   uint8
 11  Condicion_0                1000 non-null   uint8
 12  Condicion_1                1000 non-null   uint8
 13  Condicion_2                1000 non-null   uint8
 14  Objetivo_0                 1000 non-null   uint8
 15  Objetivo_1                 1000 non-null   uint8
 16  Objetivo_2                 1000 non-null   uint8
 17  Aeróbicos                  1000 non-null   int64
 18  Aeróbicos acuáticos        1000 non-null   int64
 19  Artes marciales            1000 non-null   int64
 20  Atletismo                  1000 non-null   int64
 21  BMX                        1000 non-null   int64
 22  Baloncesto                 1000 non-null   int64
 23  Balonmano                  1000 non-null   int64
 24  Billar                     1000 non-null   int64
 25  Bolos                      1000 non-null   int64
 26  Boxeo                      1000 non-null   int64
 27  Bádminton                  1000 non-null   int64
 28  Béisbol                    1000 non-null   int64
 29  Calistenia                 1000 non-null   int64
 30  Calva                      1000 non-null   int64
 31  Caminar                    1000 non-null   int64
 32  Chito                      1000 non-null   int64
 33  Ciclismo                   1000 non-null   int64
 34  Ciclismo estacionario      1000 non-null   int64
 35  Correr                     1000 non-null   int64
 36  Dardos                     1000 non-null   int64
 37  Entrenamiento en circuito  1000 non-null   int64
 38  Escalada                   1000 non-null   int64
 39  Frisbee                    1000 non-null   int64
 40  Frontenis                  1000 non-null   int64
 41  Fútbol                     1000 non-null   int64
 42  Fútbol sala                1000 non-null   int64
 43  Gimnasia                   1000 non-null   int64
 44  Golf                       1000 non-null   int64
 45  Hockey                     1000 non-null   int64
 46  Kickball                   1000 non-null   int64
 47  Kickboxing                 1000 non-null   int64
 48  Levantamiento de peso      1000 non-null   int64
 49  Marcha rápida              1000 non-null   int64
 50  Minigolf                   1000 non-null   int64
 51  Montañismo                 1000 non-null   int64
 52  Máquina escaladora         1000 non-null   int64
 53  Nado sincronizado          1000 non-null   int64
 54  Natación                   1000 non-null   int64
 55  Padel                      1000 non-null   int64
 56  Patinaje                   1000 non-null   int64
 57  Patinaje sobre hielo       1000 non-null   int64
 58  Petanca                    1000 non-null   int64
 59  Raquetbol                  1000 non-null   int64
 60  Salto a la comba           1000 non-null   int64
 61  Senderismo                 1000 non-null   int64
 62  Skateboard                 1000 non-null   int64
 63  Sóftbol                    1000 non-null   int64
 64  Tai chi                    1000 non-null   int64
 65  Tenis                      1000 non-null   int64
 66  Tenis de mesa              1000 non-null   int64
 67  Tenis en pareja            1000 non-null   int64
 68  Ultimate frisbee           1000 non-null   int64
 69  Voleibol                   1000 non-null   int64
 70  Voleibol acuático          1000 non-null   int64
 71  Waterpolo                  1000 non-null   int64
 72  Yoga                       1000 non-null   int64
dtypes: float64(2), int32(4), int64(56), uint8(11)
memory usage: 479.6 KB

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Leer el DataFrame desde un archivo CSV
df_historico = pd.read_csv('../Raw_Datasets/datos_historicos_deportes.csv')

# Características (features) del modelo
X = df_historico.drop('Deporte', axis=1)
y = df_historico['Deporte']

# Dividir los datos en un conjunto de entrenamiento (80%) y un conjunto de prueba (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Definir los modelos con sus respectivos hiperparámetros
models = [
    ('RandomForest', RandomForestClassifier(random_state=42, n_jobs=-1)),
    ('SVM', SVC(random_state=42)),
    ('GradientBoosting', GradientBoostingClassifier(random_state=42)),
    ('LogisticRegression', LogisticRegression(random_state=42))
]

# Definir los posibles valores de hiperparámetros a probar en el GridSearch para cada modelo
param_grids = [
    {
        'RandomForest__n_estimators': [50, 100, 150],
        'RandomForest__max_depth': [3, 5, 7]
    },
    {
        'SVM__C': [0.1, 1, 10],
        'SVM__kernel': ['linear', 'rbf'],
        'SVM__gamma': ['scale', 'auto']
    },
    {
        'GradientBoosting__n_estimators': [50, 100, 150],
        'GradientBoosting__learning_rate': [0.1, 0.01, 0.001],
        'GradientBoosting__max_depth': [3, 5, 7]
    },
    {
        'LogisticRegression__C': [0.1, 1, 10],
        'LogisticRegression__penalty': ['l1', 'l2'],
        'LogisticRegression__solver': ['liblinear']
    }
]

# Crear el pipeline para cada modelo
pipelines = []
for model, param_grid in zip(models, param_grids):
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        model
    ])
    pipelines.append((model[0], pipeline, param_grid))

# Realizar GridSearchCV para cada modelo y encontrar la mejor combinación de hiperparámetros
best_models = {}
for model_name, pipeline, param_grid in pipelines:
    grid_search = GridSearchCV(pipeline, param_grid, cv=5)
    grid_search.fit(X_train, y_train)
    best_models[model_name] = grid_search.best_estimator_
    print(f"Mejores hiperparámetros para {model_name}:")
    print(grid_search.best_params_)
    print()

# Evaluar el rendimiento de los modelos en el conjunto de prueba
print("Evaluación del rendimiento de los modelos:")
for model_name, model in best_models.items():
    y_pred = model.predict(X_test)
    print(f"Modelo: {model_name}")
    print("Precisión:", accuracy_score(y_test, y_pred))
    print("Reporte de clasificación:")
    print(classification_report(y_test, y_pred))
    print("Matriz de confusión:")
    print(confusion_matrix(y_test, y_pred))
    print()

Mejores hiperparámetros para RandomForest:
{'RandomForest__max_depth': 3, 'RandomForest__n_estimators': 100}

Mejores hiperparámetros para SVM:
{'SVM__C': 0.1, 'SVM__gamma': 'scale', 'SVM__kernel': 'rbf'}

In [ ]:
import pickle

import os

folder = "modelos_en_pkl"

# Asegúrate de que la carpeta exista. Si no existe, créala.
if not os.path.exists(folder):
    os.makedirs(folder)

# Ruta completa del archivo donde se guardará el modelo
filename = os.path.join(folder, "Mejor_modelo_pipe.pkl")

# Guardar el modelo en el archivo
with open(filename, 'wb') as file:
    pickle.dump(best_models, file)