In [1]:
import pandas as pd

In [2]:
gasto = pd.read_csv('../Raw_Datasets/items_Giacomo/deportes_final.csv')
gasto.columns

Index(['Unnamed: 0', 'Actividad', 'Intesidad', 'Cal/Kg/h', 'Equipo',
       'Equipamiento', 'Contacto', 'Pelota', 'Raqueta', 'Aire libre'],
      dtype='object')

In [5]:
gasto = gasto[['Actividad','Cal/Kg/h']]

In [6]:
gasto['Actividad'] = gasto['Actividad'].replace({'Tenis de mesa / ping pong': 'Tenis de mesa',
                                                     'Pádel': 'Padel'})

In [7]:
gasto['Cal/Kg/h'] = gasto['Cal/Kg/h'].str.replace(',', '.')
gasto

               Actividad Cal/Kg/h
0                    BMX    8.504
1               Ciclismo    3.999
2               Ciclismo    5.998
3               Ciclismo    8.004
4               Ciclismo   10.004
..                   ...      ...
71             Waterpolo   10.004
72     Voleibol acuático    2.999
73  Patinaje sobre hielo   12.003
74             Frontenis    7.503
75            Senderismo    5.998

[76 rows x 2 columns]

In [8]:
gasto['Cal/Kg/h'] = gasto['Cal/Kg/h'].astype(float)

In [9]:
gasto = gasto.groupby('Actividad').agg({'Cal/Kg/h': 'mean'}).reset_index()

In [10]:
df_historico = pd.read_csv('../Raw_Datasets/datos_historicos_deportes.csv')

In [13]:
for indice, fila in df_historico.iterrows():
    for columna in df_historico.columns:
        if fila[columna] == 1:
            actividad = columna
            calorias_deporte = gasto.loc[gasto['Actividad'] == actividad, 'Cal/Kg/h']
            if not calorias_deporte.empty:
                df_historico.at[indice, columna] *= calorias_deporte.iloc[0] * fila['Peso (Kg)']
df_historico

df_historico.to_csv('../Raw_Datasets/datos_historicos_deportes.csv', index=False)

In [14]:
df_historico.columns

Index(['Temperatura (°C)', 'Humedad', 'Edad', 'Peso (Kg)', 'Distancia (Km)',
       'Clima_Lluvioso', 'Clima_Nublado', 'Clima_Soleado', 'Genero_Hombre',
       'Genero_Mujer', 'Condicion_0', 'Condicion_1', 'Condicion_2',
       'Objetivo_0', 'Objetivo_1', 'Objetivo_2', 'Aeróbicos',
       'Aeróbicos acuáticos', 'Artes marciales', 'Atletismo', 'BMX',
       'Baloncesto', 'Balonmano', 'Billar', 'Bolos', 'Boxeo', 'Bádminton',
       'Béisbol', 'Calistenia', 'Calva', 'Caminar', 'Chito', 'Ciclismo',
       'Ciclismo estacionario', 'Correr', 'Dardos',
       'Entrenamiento en circuito', 'Escalada', 'Frisbee', 'Frontenis',
       'Fútbol', 'Fútbol sala', 'Gimnasia', 'Golf', 'Hockey', 'Kickball',
       'Kickboxing', 'Levantamiento de peso', 'Marcha rápida', 'Minigolf',
       'Montañismo', 'Máquina escaladora', 'Nado sincronizado', 'Natación',
       'Padel', 'Patinaje', 'Patinaje sobre hielo', 'Petanca', 'Raquetbol',
       'Salto a la comba', 'Senderismo', 'Skateboard', 'Sóftbol', 'Tai chi',
       'Tenis', 'Tenis de mesa', 'Tenis en pareja', 'Ultimate frisbee',
       'Voleibol', 'Voleibol acuático', 'Waterpolo', 'Yoga'],
      dtype='object')